# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called chipo.

In [8]:
chipo = pd.read_csv('chipo.csv')
chipo.head()

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [9]:
def price(x):
    res = float(x[1:-1])
    
    return res

chipo['price'] = chipo['item_price'].apply(lambda x : price(x))

### 방법

- 달러 표시 지우기
- 1개당 가격을 구해야 하니까 중복값들 날리기
- 날린 후 수량 1개인 것만 찾기
- 그리고 가격이 10달러 이상인 것 중 몇 개인지 확인.
- nunique()는 유니크한 값이 몇 개인지 알려주는 명령어

In [13]:
chipo_filtered = chipo.drop_duplicates(['item_name','quantity'])

In [18]:
chipo_one_product = chipo_filtered[chipo_filtered['quantity']==1]

In [24]:
chipo_one_product.head(1)

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price,price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39

In [25]:
chipo_one_product[chipo_one_product['price']>10].item_name.nunique()

12

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [31]:
chipo_filtered[
    (chipo_filtered['item_name'] =='Chips and Fresh Tomato Salsa')&
    (chipo_filtered['quantity']==1)
]['price']

0    2.39
Name: price, dtype: float64

### Step 6. Sort by the name of the item

In [36]:
chipo.sort_values(by = 'item_name').head()

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price,price
3389,3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98,12.98
341,341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
1849,1849,749,1,6 Pack Soft Drink,[Coke],$6.49,6.49
1860,1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
2713,2713,1076,1,6 Pack Soft Drink,[Coke],$6.49,6.49

### Step 7. What was the quantity of the most expensive item ordered?

In [38]:
chipo.sort_values(by = 'price', ascending=False).head(1)

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price,price
3598,3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [47]:
len(chipo[chipo['item_name']=='Veggie Salad Bowl'].groupby('order_id'))

18

### Step 9. How many times people orderd more than one Canned Soda?

In [51]:
chipo[(chipo['item_name'] == 'Canned Soda')&
      (chipo['quantity'] > 1)].groupby('order_id').count().sum()

Unnamed: 0            20
quantity              20
item_name             20
choice_description    20
item_price            20
price                 20
dtype: int64