# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create a data dictionary that looks like the DataFrame below

In [2]:
raw_data = {
    "name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
    "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
    "type": ['grass', 'fire', 'water', 'bug'],
    "hp": [45, 39, 44, 45],
    "pokedex": ['yes', 'no','yes','no']                        
}

### Step 3. Assign it to a variable called

In [3]:
pokemon_df = pd.DataFrame(raw_data, columns=list(raw_data.keys()))

In [4]:
pokemon_df

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [5]:
pokemon_df = pokemon_df[['name', 'type', 'hp', 'evolution', 'pokedex']]

In [6]:
pokemon_df

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [9]:
pokemon_df['place'] = [int(x) for x in range(4)]
pokemon_df

/Users/wontaek/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

         name   type  hp   evolution pokedex  place
0   Bulbasaur  grass  45     Ivysaur     yes      0
1  Charmander   fire  39  Charmeleon      no      1
2    Squirtle  water  44   Wartortle     yes      2
3    Caterpie    bug  45     Metapod      no      3

### Step 6. Present the type of each column

In [10]:
pokemon_df.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place         int64
dtype: object

### BONUS: Create your own question and answer it.